@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Raleway:wght@700&family=Zen+Kaku+Gothic+Antique&family=Zen+Kaku+Gothic+New:wght@400;500&display=swap');*
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&family=Trispace:wght@100;300;500&display=swap');


* {
    margin: 0;
}

body {
    margin: 0;
}
.navbar {
    background-color: #1F2937;
    height: 100px;
    display: flex;
    color: white;
    align-items: center;
    padding: 0 50px;
    justify-content: space-between;
}

.navbar-left {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
}

.navbar-right {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    display: flex;
    padding: 0 20px;
}

.navbar-right a {
    padding: 10px 20px;
    color: rgb(254, 195, 195);
    text-decoration: none;
    border-radius: 30px;
}

.navbar a:hover {
    color: #1F2937;
    background: #3882F6;
    transition: color  2s;
    transition: background-color 1s;
}

/* ------------------- HERO --------------------- */

.hero {
    background-color: #1F2937;
    color: white;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
}

.hero-left { 
    width: 650px;
    font-family: 'Sen', sans-serif;
    padding: 50px;
}

.hero-left h1 {
    font-size: 50px;
    font-weight: 800;
    color:blanchedalmond;
}

.hero-left p {
    font-size: 20px;
    font-weight: 10;
}

button {
    background-color: #3882F6;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 30px;
    button-style: none;
    letter-spacing: 2px;
    font-family: 'Sen', sans-serif;
    font-size: 25px;
    font-weight: 200;
    color: white;
    margin-top: 40px;
}


/* ------------------- SERVICES --------------------- */


.services {
    background-color: lavender;
    height: 600px;
    font-family: 'Sen', sans-serif;
    font-weight: 300;
    font-size: 30px;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.services h2 {
    padding: 80px;
}

.img-boxes {
    display: flex;
    width: 80%;
    height: 300px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    margin: auto;
    border: 4px solid #3882F6;
    border-radius: 300px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}

.img-box1 {
    -webkit-clip-path: circle(30% at 50% 40%);
}

/* ------------------- QUOTE --------------------- */

.quote-container {
    font-family: 'Sen', sans-serif;
    font-size: 30px;
    height: 500px;
    width: 100%;
    display: inline-block;
    color:rgb(25, 21, 152);
    text-align: center;
    background-color: pink;

}